{% extends "base.html" %}

{% block content %}

<h2>Facturación</h2>

<div class="card">
    <div class="card-body">

        <form method="POST">

            <div class="mb-3">
                <label>Cliente</label>

                <select name="cliente" class="form-control" required>

                    {% for cliente in clientes %}
                    <option value="{{ cliente[0] }}">
                        {{ cliente[1] }}
                    </option>
                    {% endfor %}

                </select>

            </div>

            <div class="mb-3">
                <label>Producto</label>
                    <select name="producto" class="form-control" required>

                        {% for producto in productos %}
                        <option value="{{ producto[0] }}">
                            {{ producto[1] }} - Stock disponible: {{ producto[3] }}
                        </option>
                        {% endfor %}

                    </select>

            </div>

            <div class="mb-3">
                <label>Cantidad</label>

                <input
                    type="number"
                    name="cantidad"
                    min="1"
                    class="form-control"
                    required
                >

            </div>

            <button
                type="submit"
                class="btn btn-success"
            >
                Generar Factura
            </button>

        </form>

    </div>
</div>

{% if factura %}

<br>

<div class="card border-success">

    <div class="card-body">

        <h3>Factura Generada</h3>

        <p>
            <strong>Factura N°:</strong>
            {{ factura.id }}
        </p>

        <p>
            <strong>Cliente:</strong>
            {{ factura.cliente }}
        </p>

        <p>
            <strong>Producto:</strong>
            {{ factura.producto }}
        </p>

        <p>
            <strong>Cantidad:</strong>
            {{ factura.cantidad }}
        </p>

        <p>
            <strong>Precio:</strong>
            ${{ factura.precio }}
        </p>

        <p>
            <strong>Total:</strong>
            ${{ factura.total }}
        </p>
        <br><br>
 
        <a
        href="{{ url_for('factura_pdf', id_factura=factura.id) }}"
        class="btn btn-primary"
        >
            Descargar PDF
        </a>

    </div>

</div>

{% endif %}

{% endblock %}