{% extends "base.html" %}

{% block content %}

<h2>Nuevo Proveedor</h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.nombre.label }}
        {{ form.nombre(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.telefono.label }}
        {{ form.telefono(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.correo.label }}
        {{ form.correo(class="form-control") }}
    </div>

    <br>

    {{ form.guardar(class="btn btn-success") }}

</form>

{% endblock %}