{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Productos de Abastos El Ofertón</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio</th>
        </tr>
    </thead>

    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>${{ producto[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}